<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>VisualMine AI | Beta</title>
    {% block head %}{% endblock %}
</head>
<body draggable="false">

    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          <span id="title" class="fs-4">VisualMine AI | {{ context.model }}</span>
        </a>
        <a href="/" class="nav-link">Main</a>
        <a href="/models" class="nav-link">Models</a>
      </header>

    
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>